{"openapi":"3.1.0","info":{"title":"Speaker API","version":"0.0.1"},"servers":[{"url":"https://speaker-be.egor-koldasov.dev","description":"Production server"}],"components":{"schemas":{"Word":{"$schema":"http://json-schema.org/draft-07/schema","$id":"word.schema.json","title":"Word","type":"object","description":"A detailed representation of a word, including its original and\nneutral forms, pronunciations, translations, definitions, origin, and\nusage examples.","required":["languageOriginal","languageTranslated","originalWord","neutralForm","pronounciation","translation","synonyms","definitionOriginal","definitionTranslated","origin","examples"],"properties":{"languageOriginal":{"type":"string","description":"The original language of the word in a BCP 47 format."},"languageTranslated":{"type":"string","description":"The language the word is translated to in a BCP 47 format."},"originalWord":{"type":"string","description":"The original word given, in the exact same grammatic form,\ncapitalized."},"neutralForm":{"type":"string","description":"The word in a neutral grammatic form."},"pronounciation":{"type":"string","description":"A pronunciation of the original word given."},"translation":{"type":"string","description":"An extensive translation to English, the more words the better."},"synonyms":{"type":"array","items":{"type":"string"},"description":"Common synonyms in the original language."},"definitionOriginal":{"type":"string","description":"An extensive definition in the original language."},"definitionTranslated":{"type":"string","description":"An extensive definition in English."},"origin":{"type":"string","description":"The root parts of the word and the origin in English. If the\noriginal form from Part 1 is different from the neutral grammatic\nform from Part 2, explain that difference including all the details."},"examples":{"type":"array","items":{"type":"object","required":["original","translation"],"properties":{"original":{"type":"string","description":"An example sentence in the original language using the word."},"translation":{"type":"string","description":"The English translation of the example sentence."}}},"description":"Three sentence examples of the usage of the original word in the\nsame grammatic form followed by an English translation. The sentence\nand the translation should be separated by one new line, while the\nexamples themselves should be separated by three new lines. If there\nwas a context from which that word was taken, include a phrase from\nthat context in examples, replacing the first example."},"csvExportedAt":{"type":"string","format":"date-time","description":"The date and time when the word was exported to CSV.","readOnly":true}},"examples":[{"originalWord":"Esperanzamos","neutralForm":"Esperanzar","pronounciation":"/es.pe.ɾanˈθa.mos/ (Spain), /es.pe.ɾanˈsa.mos/ (Latin America)","translation":"To fill with hope, to become hopeful, to start to hope, to hold\nonto hope.","synonyms":["Ilusionar","tener esperanza","confiar"],"definitionOriginal":"Acción de hacerse llevar por la esperanza o comenzar a tener\nesperanza frente a una situación, a pesar de las circunstancias que\npueden sugerir lo contrario.","definitionTranslated":"The action of being guided by or starting to have hope in\na situation, despite circumstances that might suggest the contrary.","origin":"The verb \"esperanzar\" is derived from the noun \"esperanza,\" meaning\nhope. The suffix \"-ar\" indicates that it's an infinitive verb. In\nthis context, \"esperanzamos\" is the first person plural of the\npresent indicative, meaning \"we hope\" or \"we become hopeful.\" The\ntransition from the neutral form \"esperanzar\" to \"esperanzamos\"\nchanges the verb from its infinitive form to a specific tense and\nsubject, indicating the action of hoping being performed by us in\nthe present.","examples":[{"original":"Y nos esperanzamos contra toda lógica, contra todo lo que nos dice la\nexperiencia.","translation":"And we become hopeful against all logic, against everything our\nexperience tells us."},{"original":"Cada vez que sale el sol, nos esperanzamos pensando que será un mejor\ndía.","translation":"Every time the sun rises, we become hopeful thinking it will be a\nbetter day."},{"original":"A pesar de las dificultades, nos esperanzamos al ver la solidaridad de\nla gente.","translation":"Despite the difficulties, we become hopeful upon seeing people's\nsolidarity."}]}]}},"responses":{"ServerError":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Internal server error"}}}}}}}},"paths":{"/word":{"get":{"operationId":"getWords","parameters":[{"name":"limit","in":"query","schema":{"type":"integer"},"required":false,"description":"Number of words to return, default is 100"}],"responses":{"200":{"description":"A list of words","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Word"}}}}},"500":{"$ref":"#/components/responses/ServerError"}}},"post":{"operationId":"createWord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Word"}}}},"responses":{"201":{"description":"Word created"},"500":{"$ref":"#/components/responses/ServerError"}}}},"/csv":{"get":{"operationId":"exportCSV","parameters":[{"name":"languageOriginal","in":"query","schema":{"type":"string"},"required":true,"description":"The original language of the words in a BCP 47 format"},{"name":"languageTranslated","in":"query","schema":{"type":"string"},"required":true,"description":"The language the words are translated to in a BCP 47 format"}],"responses":{"200":{"description":"Export words as CSV","content":{"text/csv":{"schema":{"type":"string"}}}},"500":{"$ref":"#/components/responses/ServerError"}}}}}}
