openapi: 3.1.0
info:
  title: Speaker API
  version: 0.0.1
servers:
  - url: https://speaker-be.egor-koldasov.dev
    description: Production server
components:
  schemas:
    Word:
      $ref: './json-schema/schema/Word.schema.json'
  responses:
    ServerError:
      description: Server error
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
                example: Internal server error
paths:
  /word:
    get:
      operationId: getWords
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
          required: false
          description: Number of words to return, default is 100
      responses:
        '200':
          description: A list of words
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Word'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: createWord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Word'
      responses:
        '201':
          description: Word created
        '500':
          $ref: '#/components/responses/ServerError'
  /csv:
    get:
      operationId: exportCSV
      parameters:
        - name: languageOriginal
          in: query
          schema:
            type: string
          required: true
          description: The original language of the words in a BCP 47 format
        - name: languageTranslated
          in: query
          schema:
            type: string
          required: true
          description: The language the words are translated to in a BCP 47 format
      responses:
        '200':
          description: Export words as CSV
          content:
            text/csv:
              schema:
                type: string
        '500':
          $ref: '#/components/responses/ServerError'