@import './colors';
@import './font';
@import './util';

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #bbc6ce;
}

input,
button,
[role='button'],
select,
textarea,
form {
  &,
  &[type] {
    margin: 0;
  }
}
select,
option {
  cursor: pointer;
}
button,
[role='button'] {
  border: none;
  padding: 4px 8px;
}
