@import './colors';
@import './font';
@import './util';

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #bbc6ce;
}

input,
button,
button[type='button'],
[role='button'],
select,
textarea,
form {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin: 0;
  line-height: 1rem;
  min-height: 2rem;
  // color: inherit;

  &,
  &[type] {
    margin: 0;
  }
  &[type='button'] {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}
select,
option {
  cursor: pointer;
}
button,
[role='button'] {
  border: none;
  padding: 4px 8px;
}

label {
  margin: 0;
}

h1 {
  margin: 0;
}

button,
[type='submit'],
[type='reset'],
[type='button'],
[type='file']::file-selector-button,
[role='button'] {
  box-shadow: none;
}

// * {
//   transition: 0s !important;
// }

input,
select,
textarea {
  box-shadow: none;
}
